.main-content {
    max-width: 90%
}

.page-header {
    display: none;
  }

.sidebar {
    background: #FB8500 !important;
}

.nav-list .nav-list-item a {
    background: none !important;
    box-shadow: none !important;
}